### Model Development

In [185]:
import numpy as np
import pandas as pd

In [186]:
raw_data = pd.read_clipboard()
raw_data

                                              sentence         type
0    the train going out on Saturday the trains run...  declarative
1    so they're either 8 minutes to 9 or 8 minutes ...  declarative
2        and i'm just going to check your return time   declarative
3                 that's on Monday the 5th of October   declarative
4    the trains run on the hour from Euston to Macc...  declarative
..                                                 ...          ...
164  and the two tickets will be posted out first c...  declarative
165                                  that's brilliant   declarative
166             the Saturday which is the 3rd i think   declarative
167             i'm not sure what time the trains are   declarative
168       the trains run at 10 to the hour every hour   declarative

[169 rows x 2 columns]

In [187]:
def clean_text(x):
    x = x.replace("do't", "don't")
    x = x.replace("'ve", "have")
    return x

In [188]:
raw_data['sentence'] = raw_data['sentence'].apply(clean_text)

In [189]:
raw_data

                                              sentence         type
0    the train going out on Saturday the trains run...  declarative
1    so they're either 8 minutes to 9 or 8 minutes ...  declarative
2        and i'm just going to check your return time   declarative
3                 that's on Monday the 5th of October   declarative
4    the trains run on the hour from Euston to Macc...  declarative
..                                                 ...          ...
164  and the two tickets will be posted out first c...  declarative
165                                  that's brilliant   declarative
166             the Saturday which is the 3rd i think   declarative
167             i'm not sure what time the trains are   declarative
168       the trains run at 10 to the hour every hour   declarative

[169 rows x 2 columns]

In [190]:
raw_data.loc[[7, 20], 'sentence']

7     ihave just been quoted 19 pounds
20          theyhave now been booked up
Name: sentence, dtype: object

In [191]:
X_train = raw_data['sentence']
y_train = raw_data['type']

In [192]:
X_train.head(3)

0    the train going out on Saturday the trains run...
1    so they're either 8 minutes to 9 or 8 minutes ...
2        and i'm just going to check your return time
Name: sentence, dtype: object

In [193]:
y_train.head(3)

0    declarative
1    declarative
2    declarative
Name: type, dtype: object

In [194]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ssd\appdata\local\programs\python\python310\lib\site-packages (1.1.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\ssd\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ssd\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ssd\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.22.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ssd\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.8.1)

In [195]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [196]:
count_vect = CountVectorizer()
count_vect.fit(X_train)
count_vect_transform = count_vect.transform(X_train)

In [197]:
count_vect_transform

<169x358 sparse matrix of type '<class 'numpy.int64'>'
	with 1168 stored elements in Compressed Sparse Row format>

In [198]:
count_vect_transform.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [199]:
pd.DataFrame(count_vect_transform.toarray(), columns = count_vect.get_feature_names()).head()

C:\Users\ssd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,10,12,14,15,19,1924,1972,2010,21,...,wish,with,working,would,year,years,you,youhave,young,your
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [200]:
tfidf_vect = TfidfTransformer()
X_train_tfidf = tfidf_vect.fit(count_vect_transform)
X_train_tfidf_transform = X_train_tfidf.transform(count_vect_transform)

In [201]:
pd.DataFrame(X_train_tfidf_transform.toarray(), columns = count_vect.get_feature_names()).head()

C:\Users\ssd\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,10,12,14,15,19,1924,1972,2010,21,...,wish,with,working,would,year,years,you,youhave,young,your
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,0.298521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.318407
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [202]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Conv1D
from tensorflow.keras.layers import MaxPooling1D
from tensorflow.keras.layers import Embedding

In [203]:
model = Sequential()
model.add(Conv1D(filters=128, kernel_size=4, padding='same', activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=4, padding='same', activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=32, kernel_size=4, padding='same', activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [204]:
model = MultinomialNB().fit(X_train_tfidf_transform, y_train)

In [ ]:
clf = MultinomialNB().fit(X_train_tfidf_transform, y_train)

In [205]:
print(model.predict(count_vect.transform(["I don't find taste in lunch or breakfast"])))

['declarative']

In [206]:
print(model.predict(count_vect.transform(["What did the Top Hoodlum Program gather information on?"])))

['interrogative']

In [207]:
print(model.predict(count_vect.transform(["Driver carefully!"])))

['exclamatory']

In [208]:
print(model.predict(count_vect.transform(["let's say   half 3 in the afternoon "])))

['imperative']

### Saving trained model and count_vectorizer

In [209]:
import pickle

pickle.dump(count_vect,open('count_vect.pkl', 'wb'))
#pickle.dump(clf, open('clf.pkl', 'wb'))
pickle.dump(model, open('clf.pkl', 'wb'))

### Flask

In [ ]:
from flask import Flask, render_template, request
import pickle

app = Flask(__name__,template_folder = r"C:\Users\dharmendra.sahani\ML_AI\Medium") 
                                                                                   
    
clf = pickle.load(open('clf.pkl','rb'))
loaded_vec = pickle.load(open("count_vect.pkl", "rb"))

@app.route('/')

def symptom():
    
   return render_template('symptoms_pred.html')

@app.route('/result',methods = ['POST', 'GET'])
def result():
   if request.method == 'POST':
      result = request.form['Data']
      result_pred = clf.predict(loaded_vec.transform([result]))
      return render_template("symptoms_result.html",result = result_pred)

if __name__ == '__main__':
   app.run()

In [ ]:
pwd()